.prama {
	font-family: sans-serif;
}

.prama hidden {
	display: none!important;
}

.prama * {
	box-sizing: border-box;
}

.prama-title {
	text-align: center;
}

.prama-param {
	margin-bottom: 1rem;
}

.prama-label {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
	line-height: 2rem;
	height: 2rem;
}

.prama-input {
	font-size: 1rem;
}

.prama textarea,
.prama input:not([type]),
.prama input[type="text"],
.prama input[type="number"],
.prama input[type="range"],
.prama select,
/*.prama input[type="checkbox"],*/
/*.prama input[type="radio"],*/
.prama button,
.prama fieldset {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: middle;
	display: inline-block;
	line-height: 2rem;
	min-height: 2rem;
	min-width: 2rem;
	border: none;
	margin: 0;
	border-radius: .2222rem;
}

.prama textarea,
.prama input:not([type]),
.prama input[type="text"],
.prama input[type="number"],
.prama select {
	background: rgb(241, 244, 249);
	width: 50%;
	padding: 0 .5rem;
}

.prama input[type="checkbox"],
.prama input[type="radio"] {
	margin: 0;
	cursor: pointer;
	background: rgb(2, 135, 210);
	border-color: rgb(2, 98, 157);
	font-weight: bolder;
	font-size: 1.5rem;
	line-height: 2rem;
	width: 2rem;
	height: 2rem;
	vertical-align: top;
	text-align: center;
}
.prama input[type="radio"] {
	border-radius: 2rem;
}

.prama fieldset {
	padding: 0;
	height: auto;
	background: none;
	vertical-align: top;
	border: none;
	width: 50%;
}
.prama fieldset label {
	width: auto;
	cursor: pointer;
	line-height: 2rem;
	height: 2rem;
	display: inline-block;
	margin-right: 1rem;
}

.prama button {
	background: rgb(2, 135, 210);
	color: white;
	padding: 0 1rem;
	width: 20%;
	cursor: pointer;
}


/* Hide default HTML checkbox */
.prama-toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
  height: 2rem;
}
.prama-toggle input {
	display: none;
}
.prama-toggle .prama-toggle-thumb {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(241, 244, 249);
	box-shadow: 0 0 0 2px rgb(239, 242, 247);
	border-radius: 34px;
	-webkit-transition: .4s;
	transition: .4s;
}
.prama-toggle .prama-toggle-thumb:before {
	position: absolute;
	border-radius: 34px;
	content: "";
	height: 2rem;
	width: 2rem;
	left: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
.prama-toggle input:checked + .prama-toggle-thumb {
	box-shadow: 0 0 0 2px rgb(2, 135, 210);
	background-color: rgb(2, 135, 210);
}
.prama-toggle input:focus + .prama-toggle-thumb {
	box-shadow: 0 0 1px rgb(2, 135, 210);
}
.prama-toggle input:checked + .prama-toggle-thumb:before {
	-webkit-transform: translateX(2rem);
	-ms-transform: translateX(2rem);
	transform: translateX(2rem);
}



.prama input[type="range"] {
	width: 40%;
}
.prama input[type="range"] ~ input:not(.ghost) {
	width: 10%;
	padding-right: 0;
}

.prama input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/** O_o you can’t use height for IE here */
	padding: .75rem 0;
	min-height: .5rem;
}
.prama input[type="range"]:focus {
	outline: none;
}
.prama input[type="range"]::-webkit-slider-runnable-track {
	height: .5rem;
	cursor: pointer;
	box-shadow: none;
	background: rgb(241, 244, 249);
	border-radius: .5rem;
	border: none;
	margin: 0;
}
.prama input[type="range"]::-webkit-slider-thumb {
	box-shadow: none;
	border: none;
	height: 2rem;
	width: 2rem;
	border-radius: 2rem;
	background: rgb(2, 135, 210);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -.75rem;
}
.prama input[type="range"]:focus::-webkit-slider-runnable-track {
	background: rgb(241, 244, 249);
}
.prama input[type="range"]::-moz-range-track {
	height: .5rem;
	cursor: pointer;
	box-shadow: none;
	background: rgb(241, 244, 249);
	border-radius: .5rem;
	border: none;
}
.prama input[type="range"]::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 2rem;
	width: 2rem;
	border-radius: 2rem;
	background: rgb(2, 135, 210);
	cursor: pointer;
}
input[type="range"]::-ms-track {
	height: .5rem;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type="range"]::-ms-fill-lower {
	background: rgb(241, 244, 249);
	border: none;
	border-radius: 26px;
	box-shadow: none;
}
input[type="range"]::-ms-fill-upper {
	background: rgb(241, 244, 249);
	border: none;
	border-radius: 26px;
	box-shadow: none;
}
input[type="range"]::-ms-thumb {
	box-shadow: none;
	border: none;
	width: 2rem;
	border-radius: 2rem;
	background: rgb(2, 135, 210);
	cursor: pointer;
	height: .5rem;
}
input[type="range"]:focus::-ms-fill-lower {
	background: rgb(241, 244, 249);
}
input[type="range"]:focus::-ms-fill-upper {
	background: rgb(241, 244, 249);
}





/** multirange polyfill */
@supports (--css: variables) {
	input[type="range"].multirange {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}

	input[type="range"].multirange.original {
		position: absolute;
		margin-top: .75rem;
	}

	input[type="range"].multirange.original::-webkit-slider-thumb {
		position: relative;
		z-index: 2;
	}

	input[type="range"].multirange.original::-moz-range-thumb {
		transform: scale(1); /* FF doesn't apply position it seems */
		z-index: 1;
	}

	input[type="range"].multirange::-moz-range-track {
		border-color: transparent; /* needed to switch FF to "styleable" control */
	}

	input[type="range"].multirange.ghost {
		position: relative;
		height: 1rem;
		background: var(--track-background);
		--track-background: linear-gradient(to right,
				transparent var(--low), var(--range-color) 0,
				var(--range-color) var(--high), transparent 0
			) no-repeat 0 45% / 100% 40%;
		--range-color: rgb(2, 135, 210);
	}

	input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
		background: var(--track-background);
	}

	input[type="range"].multirange.ghost::-moz-range-track {
		background: var(--track-background);
	}
}