.prama {
	font-family: sans-serif;
	padding: 1em;
}

.prama [hidden] {
	display: none!important;
}

.prama * {
	box-sizing: border-box;
}

.prama-container > .prama-button {
	top: 0;
	right: 0;
	width: 3.2rem;
	height: 3.2rem;
	line-height: 3.2rem;
	text-align: center;
	display: block;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}

.prama-button i {
	height: 1.6rem;
	width: 1.6rem;
	display: inline-block;
	vertical-align: middle;
}

.prama-button svg {
	margin-bottom: .52rem;
	max-width: 100%;
	max-height: 100%;
}

